<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--在主配置文件<configuration>节点下添加引用<appSettings configSource="XmlConfig\System.config" />-->
  <!-- ================== 系统软件参数配置 ================== -->
  <!-- 公司名称 -->
  <add key="CompanyName" value="贵州珠峰科技有限公司" />
  <!-- 软件名称 -->
  <add key="SoftName" value="PXLib" />
  <!-- 登陆回话提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 软件版本 -->
  <add key="Version" value="6.1" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:2013101712345678" /> 
  <!--是否启用日志功能  发布到空间改为False-->
  <add key="IsWriteLog" value="true"/>
  <!-- =====================数据库连接用于Helper============================= -->
  <add key="MySqlConnectionString" value="Server=192.168.1.103;Database=2YDB; User=OB;Password=root;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True; Pooling=True; Max Pool Size=50; "/>
  <add key="OracleConnectionString" value="Data Source=ZFKJORCL;Persist Security Info=True;User ID=E3D;Password=E3D;Unicode=True"/>
  <add key="MsSqlConnectionString" value="server=192.168.1.103\SQL2008; Database=ThesisMS; Uid=sa;Pwd=123456" />
  <!--======================个推==============================-->
  <add key="GeTuiAppId" value="nFgD4zqbKaABgQWFyhTNr6"/>
  <add key="GeTuiAppKey" value="JBuC1nnTnU5JsMi17zxjK2"/>
  <add key="GeTuiMasterSecret" value="gVA8XVm6Rl7ToFIHuQSBL6"/>
  <!-- ====================创瑞短信配置========================== -->
  <add key="ChuanRuiSMSAccount" value="1330004410"/>
  <add key="ChuanRuiSMSPwd" value="7A767CC3843270B1285535525797"/>
  <add key="ChuanRuiSMSSign" value="天天拼手气"/>
</appSettings>